/* Landing Page */
body {
    background-image: url('/assets/img/backgrounds/TI.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}